<div class="container">
  <div class="head mt-4 mb-4">
    <img src="{{ league?.strBadge }}" height="100px" width="100px" />

    <div class="details mt-3">
      <h3>{{ league?.strLeague }}</h3>
      <!-- <p>{{ league?.strDescriptionEN }}</p> -->
    </div>
  </div>

  <div class="league_table">
    <!-- Nav pills -->
    <ul class="nav nav-pills nav-justified">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="pill" href="#home">Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " data-toggle="pill" href="#menu1">Fixtures</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#menu2">Table</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane container active" id="home">...</div>
      <div class="tab-pane fade" id="menu1">
        <div class="card mt-4">
          <div class="card-header">
            Select criteria
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <select
                  name=""
                  (change)="selectMatchday(md.value)"
                  #md
                  class="form-control"
                  id=""
                >
                  <option value="">Select Matchday</option>
                  <option
                    *ngFor="let day of counter(38); let i = index"
                    value="{{ i }}"
                  >
                    Matchday {{ i + 1 }}
                  </option>
                </select>
              </div>
            </div>

            <div class="list-group-item mt-3" *ngFor="let item of events">
              <div class="row">
                <div class="col-5">
                  {{ item.strHomeTeam }}
                </div>
                <div class="col-2">
                  {{ item.intHomeScore }} : {{ item.intAwayScore }}
                </div>

                <div class="col-5">
                  {{ item.strAwayTeam }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane container fade" id="menu2">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>G</th>
                <th>W</th>
                <th>D</th>
                <th>L</th>
                <th>GD</th>
                <th>pts</th>
              </tr>
            </thead>

            <tbody>
              <tr
                *ngFor="let data of league_table; let i = index"
                (click)="viewClub(data.teamid)"
              >
                <td>{{ i + 1 }}</td>
                <td>{{ data.name }}</td>
                <td>{{ data.played }}</td>
                <td>{{ data.win }}</td>
                <td>{{ data.draw }}</td>
                <td>{{ data.loss }}</td>
                <td>{{ data.goalsdifference }}</td>
                <td>{{ data.total }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
